[submodule "vendor/xmonad"]
	path = vendor/xmonad
	url = https://github.com/duckwork/xmonad
[submodule "vendor/xmonad-contrib"]
	path = vendor/xmonad-contrib
	url = https://github.com/duckwork/xmonad-contrib
